.zivotinje1{
    background: url("farm1.png") ;
    background-size: auto;
    background-size: 100% 100%;
   width: 100%;
   height: 100%;
   
}

.title-zivotinje1{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color:rgba(241, 234, 234, 0.43);
}

.text-section-zivotinje1{
    margin: 50px;
    color: black;
    font-size: 17px;
    background-color: rgba(241, 234, 234, 0.43);
}